.about_main_container {
    margin-left: 130px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.about_content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    width: 600px;
    margin-bottom: 30px;
}

.about_redirect {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    color: #FF247D;
}

@media (min-width : 200px) and (max-width : 1000px) {
    .about_main_container {
        margin-left: 20px;
    }
    .about_content {
        font-size: 25px;
        line-height: 25px;
        width: 300px;
    }
    .about_redirect {
        font-size: 20px;
    }
}